@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: 	cadetblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

.header {
  padding: 50px 20px 30px 20px;
}

.header h1 {
  font-size: 50px;
  color: #fbb034;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.9);
}

.selectbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.selectbar #cityname {
  border: 0;
  outline: 0;
  background-color: #fbb034;
  padding: 10px 20px;
  border-radius: 5px;
}

.selectbar .date {
  color: #fbb034;
}

.content {
  margin-top: 20px;
}

.content .city-title {
  color: #fbb034;
}

.weather-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 50px;
}

.weather-container .weather-card {
  color: #fbb034;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 15px;
  position: relative;
  transition: all 0.5s linear;
}

.weather-container .weather-card:hover {
  bottom: 15px;
  cursor: pointer;
  backdrop-filter: blur(50px);
}

.weather-container .weather-card .weather-description {
  font-weight: bold;
  margin-bottom: 6px;
}

.weather-container .weather-card .weather-temp {
  font-size: 17px;
  font-style: italic;
  margin-top: 6px;
}